body{
  height: 100lvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, grey 0%, white 100%);
}
#box{
  color: red;
  font-size: 300%;
  font-weight: bold;
  font-family: 'Arial';
}
